<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KontestBuddy"
        tools:targetApi="31">
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Ranking.CFrankingActivity"
            android:exported="false" />
        <activity
            android:name=".Ranking.LCrankingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Compare.CFcompareActivity"
            android:exported="false" />
        <activity
            android:name=".Compare.LCcompareActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>